.contact {
    &-us {
        .caption-icon {
            background-color: $white;
        }
    }

    &-form {
        .form {
            &__group {
                &--icon {
                    background-color: $grey-2;

                    i {
                        color: $white;
                    }
                }

                .field {
                    background-color: $white;
                    border-color: $grey-2;
                    color: $grey-2;

                    &::placeholder {
                        color: $grey-2;
                    }

                    &:focus {
                        box-shadow: 0 0 5px rgba($grey-2, 0.5);
                    }

                    &.input-error {
                        background-color: rgba($red, 0.15);
                    }
                }
            }

            &__btn {
                .btn {
                    border: 2px solid #FEC70B;
                }
            }
        }
    }
}