.works {
    .caption-icon {
        background-color: $white;
    }

    &__wrap {
        display: flex;
        justify-content: center;
        
        &:not(:last-child) {
            margin-bottom: 55px;
        }
    }

    &__item {
        width: auto;

        img {
            width: 100%;
        }
    }

    .btn-hidden {
        display: none;
        margin-top: 30px;
    }

    @media screen and (max-width: $sm) {
        &__wrap {
            flex-wrap: wrap;
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &.d-none {
                display: none;
            }
        }

        &__item {
            width: 100%;
        }
    }
}