$xl: 1440px;
$lg: 1366px;
$md: 1268px;
$sm: 768px;
$xs: 700px;
$xxs: 420px;

$Lato: 'Lato';
$NotoSerif: 'NotoSerif';
$Icomoon: 'icomoon';

$white: #ffffff;
$dark-grey: #2C2C2C;
$grey-1:  #D6D6D6;
$grey-2: #808080;
$yellow:  #FEC70B;
$blue: #1D1D7D;

$transition: 0.5s;