$xl: 1440px;
$lg: 1366px;
$md: 1268px;
$sm: 768px;
$sm-1: 575px;
$xs: 420px;

$LatoBlack: 'LatoBlack';
$LatoRegular: 'LatoRegular';
$LatoLight: 'LatoLight';
$AntiquaBold: 'LoraBold';
$Icomoon: 'icomoon';

$white: #ffffff;
$black: #000000;
$dark-grey: #2C2C2C;
$grey-1:  #D6D6D6;
$grey-2: #808080;
$yellow:  #FEC70B;
$blue: #1D1D7D;
$red: #ff0000;
$red-error: #750d0d;

$transition: 0.5s;